@model React.Net.Simple.ViewModels.HomePageModel
@{
    ViewData["Title"] = "Home Page";
}


<div data-component="Header" data-props='@Json.Serialize(Model.Header)'></div>
<div data-component="Hero" data-props='@Json.Serialize(Model.Hero)'></div>
<div data-component="Intro" data-props='@Json.Serialize(Model.Intro)'></div>
<div data-component="Freetext" data-props='@Json.Serialize(Model.Freetext)'></div>

<script asp-append-version="true" src="/scripts/habitat.bundle.js"></script>
